// @import url('https://themes.googleusercontent.com/fonts/css?kit=iMc4-4exjgqA-toZgqqJBf35jAjY-31lSKWZb9Fa77M');

#DefaultPrivacyPolicy {
    background: #fff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt;

    line-height: initial;

    font-family: 'Arial';

    .lst-kix_wkl89xja70k3-4>li:before {
        content: ""counter(lst-ctn-kix_wkl89xja70k3-0, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-1, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-2, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-3, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-4, decimal) ". "
    }

    .lst-kix_wkl89xja70k3-3>li:before {
        content: ""counter(lst-ctn-kix_wkl89xja70k3-0, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-1, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-2, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-3, decimal) ". "
    }

    .lst-kix_wkl89xja70k3-5>li:before {
        content: ""counter(lst-ctn-kix_wkl89xja70k3-0, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-1, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-2, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-3, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-4, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-5, decimal) ". "
    }

    ol.lst-kix_wkl89xja70k3-7.start {
        counter-reset: lst-ctn-kix_wkl89xja70k3-7 0
    }

    .lst-kix_qso8pbsj4xe8-1>li {
        counter-increment: lst-ctn-kix_qso8pbsj4xe8-1
    }

    .lst-kix_wkl89xja70k3-1>li:before {
        content: ""counter(lst-ctn-kix_wkl89xja70k3-0, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-1, decimal) ". "
    }

    ol.lst-kix_qso8pbsj4xe8-4.start {
        counter-reset: lst-ctn-kix_qso8pbsj4xe8-4 0
    }

    .lst-kix_wkl89xja70k3-2>li:before {
        content: ""counter(lst-ctn-kix_wkl89xja70k3-0, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-1, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-2, decimal) ". "
    }

    ul.lst-kix_qiaksfmzv7ll-8 {
        list-style-type: none
    }

    ul.lst-kix_6jtl9nb0tgjf-6 {
        list-style-type: none
    }

    ul.lst-kix_6jtl9nb0tgjf-5 {
        list-style-type: none
    }

    ul.lst-kix_qiaksfmzv7ll-6 {
        list-style-type: none
    }

    ul.lst-kix_6jtl9nb0tgjf-4 {
        list-style-type: none
    }

    ul.lst-kix_qiaksfmzv7ll-7 {
        list-style-type: none
    }

    ol.lst-kix_wkl89xja70k3-4.start {
        counter-reset: lst-ctn-kix_wkl89xja70k3-4 0
    }

    ol.lst-kix_wkl89xja70k3-8 {
        list-style-type: none
    }

    ul.lst-kix_6jtl9nb0tgjf-3 {
        list-style-type: none
    }

    ol.lst-kix_qso8pbsj4xe8-7.start {
        counter-reset: lst-ctn-kix_qso8pbsj4xe8-7 0
    }

    ul.lst-kix_6jtl9nb0tgjf-8 {
        list-style-type: none
    }

    ul.lst-kix_6jtl9nb0tgjf-7 {
        list-style-type: none
    }

    ul.lst-kix_qiaksfmzv7ll-0 {
        list-style-type: none
    }

    ol.lst-kix_wkl89xja70k3-3 {
        list-style-type: none
    }

    .lst-kix_wkl89xja70k3-8>li:before {
        content: ""counter(lst-ctn-kix_wkl89xja70k3-0, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-1, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-2, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-3, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-4, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-5, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-6, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-7, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-8, decimal) ". "
    }

    ul.lst-kix_qiaksfmzv7ll-1 {
        list-style-type: none
    }

    ol.lst-kix_wkl89xja70k3-2 {
        list-style-type: none
    }

    ol.lst-kix_wkl89xja70k3-1 {
        list-style-type: none
    }

    .lst-kix_wkl89xja70k3-7>li:before {
        content: ""counter(lst-ctn-kix_wkl89xja70k3-0, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-1, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-2, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-3, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-4, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-5, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-6, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-7, decimal) ". "
    }

    ol.lst-kix_wkl89xja70k3-0 {
        list-style-type: none
    }

    ul.lst-kix_qiaksfmzv7ll-4 {
        list-style-type: none
    }

    .lst-kix_wkl89xja70k3-6>li:before {
        content: ""counter(lst-ctn-kix_wkl89xja70k3-0, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-1, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-2, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-3, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-4, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-5, decimal) "."counter(lst-ctn-kix_wkl89xja70k3-6, decimal) ". "
    }

    ol.lst-kix_wkl89xja70k3-7 {
        list-style-type: none
    }

    ul.lst-kix_qiaksfmzv7ll-5 {
        list-style-type: none
    }

    ol.lst-kix_wkl89xja70k3-6 {
        list-style-type: none
    }

    .lst-kix_qso8pbsj4xe8-0>li {
        counter-increment: lst-ctn-kix_qso8pbsj4xe8-0
    }

    ul.lst-kix_qiaksfmzv7ll-2 {
        list-style-type: none
    }

    ol.lst-kix_wkl89xja70k3-5 {
        list-style-type: none
    }

    ul.lst-kix_qiaksfmzv7ll-3 {
        list-style-type: none
    }

    ol.lst-kix_wkl89xja70k3-4 {
        list-style-type: none
    }

    .lst-kix_qiaksfmzv7ll-7>li:before {
        content: "\0025cb  "
    }

    .lst-kix_qiaksfmzv7ll-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_qiaksfmzv7ll-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_qiaksfmzv7ll-5>li:before {
        content: "\0025a0  "
    }

    ol.lst-kix_wkl89xja70k3-1.start {
        counter-reset: lst-ctn-kix_wkl89xja70k3-1 0
    }

    ul.lst-kix_6jtl9nb0tgjf-2 {
        list-style-type: none
    }

    ul.lst-kix_6jtl9nb0tgjf-1 {
        list-style-type: none
    }

    ul.lst-kix_6jtl9nb0tgjf-0 {
        list-style-type: none
    }

    .lst-kix_qiaksfmzv7ll-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_qiaksfmzv7ll-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_qiaksfmzv7ll-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_wkl89xja70k3-0>li {
        counter-increment: lst-ctn-kix_wkl89xja70k3-0
    }

    .lst-kix_wkl89xja70k3-0>li:before {
        content: ""counter(lst-ctn-kix_wkl89xja70k3-0, decimal) ". "
    }

    .lst-kix_qiaksfmzv7ll-3>li:before {
        content: "\0025cf  "
    }

    .lst-kix_qiaksfmzv7ll-2>li:before {
        content: "\0025a0  "
    }

    ol.lst-kix_qso8pbsj4xe8-1.start {
        counter-reset: lst-ctn-kix_qso8pbsj4xe8-1 0
    }

    ol.lst-kix_wkl89xja70k3-2.start {
        counter-reset: lst-ctn-kix_wkl89xja70k3-2 0
    }

    ol.lst-kix_qso8pbsj4xe8-2.start {
        counter-reset: lst-ctn-kix_qso8pbsj4xe8-2 0
    }

    ul.lst-kix_heczk02q8avx-8 {
        list-style-type: none
    }

    ul.lst-kix_heczk02q8avx-7 {
        list-style-type: none
    }

    ul.lst-kix_heczk02q8avx-6 {
        list-style-type: none
    }

    ul.lst-kix_heczk02q8avx-1 {
        list-style-type: none
    }

    ul.lst-kix_heczk02q8avx-0 {
        list-style-type: none
    }

    ul.lst-kix_heczk02q8avx-5 {
        list-style-type: none
    }

    ul.lst-kix_heczk02q8avx-4 {
        list-style-type: none
    }

    ul.lst-kix_heczk02q8avx-3 {
        list-style-type: none
    }

    ul.lst-kix_heczk02q8avx-2 {
        list-style-type: none
    }

    ol.lst-kix_qso8pbsj4xe8-3 {
        list-style-type: none
    }

    ol.lst-kix_qso8pbsj4xe8-2 {
        list-style-type: none
    }

    ol.lst-kix_qso8pbsj4xe8-1 {
        list-style-type: none
    }

    .lst-kix_wkl89xja70k3-1>li {
        counter-increment: lst-ctn-kix_wkl89xja70k3-1
    }

    ol.lst-kix_qso8pbsj4xe8-0 {
        list-style-type: none
    }

    ol.lst-kix_qso8pbsj4xe8-7 {
        list-style-type: none
    }

    ol.lst-kix_qso8pbsj4xe8-6 {
        list-style-type: none
    }

    ol.lst-kix_qso8pbsj4xe8-3.start {
        counter-reset: lst-ctn-kix_qso8pbsj4xe8-3 0
    }

    ol.lst-kix_qso8pbsj4xe8-5 {
        list-style-type: none
    }

    ol.lst-kix_qso8pbsj4xe8-4 {
        list-style-type: none
    }

    ol.lst-kix_qso8pbsj4xe8-8 {
        list-style-type: none
    }

    .lst-kix_qso8pbsj4xe8-2>li {
        counter-increment: lst-ctn-kix_qso8pbsj4xe8-2
    }

    ol.lst-kix_wkl89xja70k3-3.start {
        counter-reset: lst-ctn-kix_wkl89xja70k3-3 0
    }

    .lst-kix_qso8pbsj4xe8-4>li:before {
        content: ""counter(lst-ctn-kix_qso8pbsj4xe8-0, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-1, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-2, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-3, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-4, decimal) ". "
    }

    .lst-kix_qso8pbsj4xe8-5>li {
        counter-increment: lst-ctn-kix_qso8pbsj4xe8-5
    }

    .lst-kix_qso8pbsj4xe8-3>li:before {
        content: ""counter(lst-ctn-kix_qso8pbsj4xe8-0, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-1, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-2, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-3, decimal) ". "
    }

    .lst-kix_wkl89xja70k3-7>li {
        counter-increment: lst-ctn-kix_wkl89xja70k3-7
    }

    .lst-kix_qso8pbsj4xe8-1>li:before {
        content: ""counter(lst-ctn-kix_qso8pbsj4xe8-0, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-1, decimal) ". "
    }

    .lst-kix_wkl89xja70k3-4>li {
        counter-increment: lst-ctn-kix_wkl89xja70k3-4
    }

    .lst-kix_qso8pbsj4xe8-0>li:before {
        content: ""counter(lst-ctn-kix_qso8pbsj4xe8-0, decimal) ". "
    }

    .lst-kix_qso8pbsj4xe8-2>li:before {
        content: ""counter(lst-ctn-kix_qso8pbsj4xe8-0, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-1, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-2, decimal) ". "
    }

    .lst-kix_qso8pbsj4xe8-8>li {
        counter-increment: lst-ctn-kix_qso8pbsj4xe8-8
    }

    .lst-kix_t7e157kp7yiu-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_t7e157kp7yiu-3>li:before {
        content: "\0025cf  "
    }

    .lst-kix_t7e157kp7yiu-5>li:before {
        content: "\0025a0  "
    }

    .lst-kix_qso8pbsj4xe8-7>li {
        counter-increment: lst-ctn-kix_qso8pbsj4xe8-7
    }

    .lst-kix_6jtl9nb0tgjf-5>li:before {
        content: "\0025a0  "
    }

    .lst-kix_6jtl9nb0tgjf-7>li:before {
        content: "\0025cb  "
    }

    .lst-kix_t7e157kp7yiu-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_t7e157kp7yiu-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_wkl89xja70k3-5>li {
        counter-increment: lst-ctn-kix_wkl89xja70k3-5
    }

    ol.lst-kix_wkl89xja70k3-0.start {
        counter-reset: lst-ctn-kix_wkl89xja70k3-0 0
    }

    .lst-kix_6jtl9nb0tgjf-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_6jtl9nb0tgjf-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_6jtl9nb0tgjf-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_6jtl9nb0tgjf-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_qso8pbsj4xe8-5>li:before {
        content: ""counter(lst-ctn-kix_qso8pbsj4xe8-0, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-1, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-2, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-3, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-4, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-5, decimal) ". "
    }

    ol.lst-kix_qso8pbsj4xe8-8.start {
        counter-reset: lst-ctn-kix_qso8pbsj4xe8-8 0
    }

    .lst-kix_wkl89xja70k3-6>li {
        counter-increment: lst-ctn-kix_wkl89xja70k3-6
    }

    .lst-kix_qso8pbsj4xe8-6>li:before {
        content: ""counter(lst-ctn-kix_qso8pbsj4xe8-0, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-1, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-2, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-3, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-4, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-5, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-6, decimal) ". "
    }

    .lst-kix_c9symiidlbpc-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_qso8pbsj4xe8-7>li:before {
        content: ""counter(lst-ctn-kix_qso8pbsj4xe8-0, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-1, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-2, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-3, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-4, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-5, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-6, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-7, decimal) ". "
    }

    .lst-kix_6jtl9nb0tgjf-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_t7e157kp7yiu-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_qso8pbsj4xe8-6>li {
        counter-increment: lst-ctn-kix_qso8pbsj4xe8-6
    }

    .lst-kix_t7e157kp7yiu-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_qso8pbsj4xe8-8>li:before {
        content: ""counter(lst-ctn-kix_qso8pbsj4xe8-0, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-1, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-2, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-3, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-4, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-5, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-6, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-7, decimal) "."counter(lst-ctn-kix_qso8pbsj4xe8-8, decimal) ". "
    }

    .lst-kix_6jtl9nb0tgjf-3>li:before {
        content: "\0025cf  "
    }

    .lst-kix_6jtl9nb0tgjf-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_c9symiidlbpc-2>li:before {
        content: "\0025a0  "
    }

    ol.lst-kix_qso8pbsj4xe8-5.start {
        counter-reset: lst-ctn-kix_qso8pbsj4xe8-5 0
    }

    .lst-kix_c9symiidlbpc-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_c9symiidlbpc-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_c9symiidlbpc-1>li:before {
        content: "\0025cb  "
    }

    .lst-kix_c9symiidlbpc-5>li:before {
        content: "\0025a0  "
    }

    .lst-kix_c9symiidlbpc-6>li:before {
        content: "\0025cf  "
    }

    .lst-kix_c9symiidlbpc-7>li:before {
        content: "\0025cb  "
    }

    ol.lst-kix_wkl89xja70k3-8.start {
        counter-reset: lst-ctn-kix_wkl89xja70k3-8 0
    }

    .lst-kix_c9symiidlbpc-3>li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_c9symiidlbpc-2 {
        list-style-type: none
    }

    ul.lst-kix_c9symiidlbpc-1 {
        list-style-type: none
    }

    ul.lst-kix_c9symiidlbpc-4 {
        list-style-type: none
    }

    .lst-kix_wkl89xja70k3-8>li {
        counter-increment: lst-ctn-kix_wkl89xja70k3-8
    }

    ul.lst-kix_c9symiidlbpc-3 {
        list-style-type: none
    }

    ul.lst-kix_c9symiidlbpc-0 {
        list-style-type: none
    }

    ol.lst-kix_wkl89xja70k3-5.start {
        counter-reset: lst-ctn-kix_wkl89xja70k3-5 0
    }

    .lst-kix_qso8pbsj4xe8-4>li {
        counter-increment: lst-ctn-kix_qso8pbsj4xe8-4
    }

    ul.lst-kix_t7e157kp7yiu-4 {
        list-style-type: none
    }

    .lst-kix_heczk02q8avx-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_wkl89xja70k3-3>li {
        counter-increment: lst-ctn-kix_wkl89xja70k3-3
    }

    ul.lst-kix_t7e157kp7yiu-3 {
        list-style-type: none
    }

    ul.lst-kix_t7e157kp7yiu-2 {
        list-style-type: none
    }

    .lst-kix_heczk02q8avx-7>li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_t7e157kp7yiu-1 {
        list-style-type: none
    }

    ul.lst-kix_t7e157kp7yiu-0 {
        list-style-type: none
    }

    .lst-kix_heczk02q8avx-5>li:before {
        content: "\0025a0  "
    }

    .lst-kix_wkl89xja70k3-2>li {
        counter-increment: lst-ctn-kix_wkl89xja70k3-2
    }

    .lst-kix_qso8pbsj4xe8-3>li {
        counter-increment: lst-ctn-kix_qso8pbsj4xe8-3
    }

    ul.lst-kix_t7e157kp7yiu-8 {
        list-style-type: none
    }

    .lst-kix_heczk02q8avx-6>li:before {
        content: "\0025cf  "
    }

    ul.lst-kix_t7e157kp7yiu-7 {
        list-style-type: none
    }

    ul.lst-kix_t7e157kp7yiu-6 {
        list-style-type: none
    }

    ul.lst-kix_t7e157kp7yiu-5 {
        list-style-type: none
    }

    .lst-kix_heczk02q8avx-0>li:before {
        content: "\0025cf  "
    }

    .lst-kix_heczk02q8avx-1>li:before {
        content: "\0025cb  "
    }

    ol.lst-kix_wkl89xja70k3-6.start {
        counter-reset: lst-ctn-kix_wkl89xja70k3-6 0
    }

    ol.lst-kix_qso8pbsj4xe8-0.start {
        counter-reset: lst-ctn-kix_qso8pbsj4xe8-0 0
    }

    .lst-kix_heczk02q8avx-4>li:before {
        content: "\0025cb  "
    }

    .lst-kix_heczk02q8avx-3>li:before {
        content: "\0025cf  "
    }

    .lst-kix_heczk02q8avx-2>li:before {
        content: "\0025a0  "
    }

    .lst-kix_t7e157kp7yiu-8>li:before {
        content: "\0025a0  "
    }

    .lst-kix_t7e157kp7yiu-7>li:before {
        content: "\0025cb  "
    }

    ul.lst-kix_c9symiidlbpc-6 {
        list-style-type: none
    }

    ul.lst-kix_c9symiidlbpc-5 {
        list-style-type: none
    }

    ol.lst-kix_qso8pbsj4xe8-6.start {
        counter-reset: lst-ctn-kix_qso8pbsj4xe8-6 0
    }

    ul.lst-kix_c9symiidlbpc-8 {
        list-style-type: none
    }

    ul.lst-kix_c9symiidlbpc-7 {
        list-style-type: none
    }

    ol {
        margin: 0;
        padding: 0
    }

    table td,
    table th {
        padding: 0
    }

    .c8 {
        margin-left: 72pt;
        padding-top: 0pt;
        padding-left: 0pt;
        padding-bottom: 0pt;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c11 {
        margin-left: 108pt;
        padding-top: 0pt;
        padding-left: 0pt;
        padding-bottom: 0pt;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c6 {
        margin-left: 144pt;
        padding-top: 0pt;
        padding-left: 0pt;
        padding-bottom: 0pt;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c1 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: "Open Sans";
        font-style: normal
    }

    .c20 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .c12 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        orphans: 2;
        widows: 2;
        text-align: justify
    }

    .c14 {
        padding-top: 0pt;
        padding-bottom: 8pt;
        orphans: 2;
        widows: 2;
        text-align: center
    }

    .c5 {
        background-color: #ffffff;
        color: #000000;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-style: normal
    }

    .c13 {
        color: #000000;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-style: normal
    }

    .c16 {
        color: #ff0000;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-style: normal
    }

    .c29 {
        padding-top: 10pt;
        padding-bottom: 0pt;
        text-align: center
    }

    .c10 {
        -webkit-text-decoration-skip: none;
        color: #0000ff;
        text-decoration: underline;
        text-decoration-skip-ink: none
    }

    .c18 {
        -webkit-text-decoration-skip: none;
        color: #1155cc;
        text-decoration: underline;
        text-decoration-skip-ink: none
    }

    .c26 {
        color: #212121;
        text-decoration: none;
        vertical-align: baseline;
        font-style: normal
    }

    .c21 {
        text-decoration-skip-ink: none;
        -webkit-text-decoration-skip: none;
        text-decoration: underline
    }

    .c3 {
        background-color: #ffffff;
        font-family: "Open Sans";
        font-weight: 400
    }

    .c24 {
        color: #000000;
        vertical-align: baseline;
        font-style: normal
    }

    .c7 {
        font-weight: 400;
        font-family: "Open Sans"
    }

    .c0 {
        font-weight: 700;
        font-family: "Open Sans"
    }

    .c23 {
        margin-left: 180pt;
        padding-left: 0pt
    }

    .c30 {
        max-width: 468pt;
        padding: 72pt 72pt 72pt 72pt
    }

    .c2 {
        padding: 0;
        margin: 0
    }

    .c4 {
        color: inherit;
        text-decoration: inherit
    }

    .c17 {
        margin-left: 36pt;
        padding-left: 0pt
    }

    .c22 {
        font-size: 11pt
    }

    .c28 {
        font-size: 14pt
    }

    .c9 {
        background-color: #ffffff
    }

    .c19 {
        color: #ff0000
    }

    .c15 {
        margin-left: 144pt
    }

    .c27 {
        color: #222222
    }

    .c25 {
        height: 11pt
    }

    .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    li {
        color: #000000;
        font-size: 11pt;
        list-style: none;
    }

    p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Arial"
    }

    h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 20pt;
        padding-bottom: 6pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 16pt;
        padding-bottom: 6pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left
    }

    h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left
    }
}